<!-- <div class="column"> -->
<h1 *ngIf="edit">{{ edit ? 'Edit Recipe Details' : 'New Recipe Details'}}</h1>
<form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      type="text"
      matInput
      name="title"
      ngModel
      required
    >
  </mat-form-field>

  <mat-form-field>
    <textarea
      type="text"
      matInput
      name="description"
      ngModel
      required
      rows="1"
    >
    </textarea>
    <mat-label>Description</mat-label>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input
      type="text"
      matInput
      name="imagePath"
      ngModel
      required
    >
  </mat-form-field>
  <div class="lightbox">
    <figure>
      <img src="">
      <figcaption></figcaption>
    </figure>
  </div>

  <mat-form-field>
    <mat-label>Image Caption</mat-label>
    <input
      type="text"
      matInput
      name="iamgeCaption"
      ngModel
      required
    >
  </mat-form-field>

  <div class="column">
    <h1 *ngIf="edit">
      {{ edit ? 'Edit Ingredients' : 'Add Ingredients'}}
    </h1>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        name="name"
        ngModel
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input
        type="number"
        matInput
        name="amount"
        ngModel
        required
        pattern="^[1-9]+[0-9]*$"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea
        matInput
        name="note"
        ngModel
      ></textarea>
    </mat-form-field>
    <button
      mat-mini-fab
      color="warn"
      type="button"
    >
      X
    </button>
    <div>
      <button
        type="submit"
        color="primary"
        mat-raised-button
        [disabled]="!recipeForm.valid"
      >
        Update
      </button>
      <button
        type="button"
        mat-button
        color="primary"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
<!-- </div> -->
