@import '../../../styles';

form {
  display: flex;
  flex-flow: column wrap;
  max-width: 40vw;

  textarea {
    resize: none;

  }

  mat-label {
    vertical-align: bottom;
  }
}

.column {
  display: flex;
  flex-flow: column wrap;
  padding: 3em;

  h1 {
    margin-top: 1.5em;
  }

  .deleteIngredient {
    padding: .15em;
    margin-bottom: 2em;
    align-self: flex-end;
  }

  .ingredientList {
    display: flex;
    flex-flow: column wrap;
  }

  .button-group {
    align-self: flex-start;
    margin: 2.5em 0;

    :first-child {
      margin-right: 1em;
    }

    >* {
      width: 6em;
    }
  }
}

.mat-input-invalid .mat-input-placeholder {
  color: blue;
}

.mat-input-invalid .mat-input-ripple {
  background: blue;
}
