<nav>
  <h1>Cookbook</h1>
  <div class="flex-spacer"></div>
  <menu>
    <a
      mat-menu-item
      [matMenuTriggerFor]='recipes'
      [routerLink]="['recipes']"
      routerLinkActive="active"
      *ngIf="isAuthenticated"
    >
      Recipes
      <mat-icon>expand_more</mat-icon>
    </a>
    <a
      mat-menu-item
      [routerLink]="['shopping-list']"
      routerLinkActive="active"
      *ngIf="isAuthenticated"
    >
      Shopping List
    </a>
    <a
      mat-menu-item
      routerLinkActive="active"
      [matMenuTriggerFor]='manage'
      *ngIf="isAuthenticated"
    >
      Manage
      <mat-icon>expand_more</mat-icon>
    </a>
    <a
      mat-menu-item
      [routerLink]="['signin']"
      routerLinkActive="active"
      *ngIf="!isAuthenticated"
    >
      Signup
    </a>
    <a
      mat-menu-item
      [routerLink]="['/signin']"
      routerLinkActive="router-link-active"
      *ngIf="isAuthenticated"
    >
      Logout
    </a>
  </menu>
  <mat-menu #recipes='matMenu'>
    <ng-template matMenuContent>
      <a mat-menu-item>Recipe List</a>
    </ng-template>
  </mat-menu>
  <mat-menu #manage='matMenu'>
    <ng-template matMenuContent>
      <a
        mat-menu-item
        (click)="onSaveRecipes()"
      >
        Save
      </a>
      <a
        mat-menu-item
        (click)="onFetchRecipes()"
      >
        Fetch
      </a>
    </ng-template>
  </mat-menu>
</nav>
