<nav>
  <h1>Recipe Book</h1>
  <div class="flex-spacer"></div>
  <menu>
    <a
      mat-menu-item
      [routerLink]="['recipes']"
      routerLinkActive="active"
      *ngIf="isAuthenticated"
    >
      Recipes
    </a>
    <a
      mat-menu-item
      [routerLink]="['shopping-list']"
      routerLinkActive="active"
      *ngIf="isAuthenticated"
    >
      Shopping List
    </a>
    <a
      mat-menu-item
      routerLinkActive="active"
      [matMenuTriggerFor]='manage'
      *ngIf="isAuthenticated"
    >
      Manage
      <mat-icon>expand_more</mat-icon>
    </a>
    <mat-menu #manage='matMenu'>
      <ng-template matMenuContent>
        <a
          mat-menu-item
          (click)="onSaveRecipes()"
        >
          Save Recipes
        </a>
        <a
          mat-menu-item
          (click)="onFetchRecipes()"
        >
          Get Recipes
        </a>
      </ng-template>
    </mat-menu>
    <a
      mat-menu-item
      [routerLink]="['signin']"
      routerLinkActive="active"
      *ngIf="!isAuthenticated"
    >
      Signup
    </a>
    <a
      mat-menu-item
      routerLinkActive="router-link-active"
      *ngIf="isAuthenticated"
      (click)="logout()"
    >
      Logout
    </a>
  </menu>
</nav>
