<div class="columns">
  <div class="column">
    <h1>Add to your shopping list</h1>
    <app-shopping-list-detail></app-shopping-list-detail>
  </div>
  <div class="column">
    <h2>Shopping list</h2>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEdit(i)"
      >
        <span>
          {{ingredient.name}} ({{ingredient.amount}})
          <span *ngIf="ingredient.notes">
            <br>
            - {{ingredient.notes}}
          </span>
        </span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
