<div class="form-container">
  <form (ngSubmit)="onSubmit(shoppingListForm)" #shoppingListForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Name" name="name" ngModel required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="number" matInput placeholder="Amount" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea matInput placeholder="Notes" name="note" ngModel></textarea>
    </mat-form-field>
    <div>
      <button type="submit" color="primary" mat-raised-button [disabled]="!shoppingListForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
      <button type="reset" mat-button color="info" (click)="onClear()">Clear</button>
      <button *ngIf="editMode" type="button" mat-button color="primary" (click)="onDelete()">Delete</button>
    </div>
  </form>
</div>
<br />
