<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Amount">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Notes"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Ingredient">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button color="primary" mat-raised-button>Save</button>
    <button mat-button color="info">Clear</button>
    <button mat-button color="primary">Delete</button>
  </div>
</div>
<br />
