<mat-list
  tabindex="1"
  class="recipe-card"
  [routerLink]="[index]"
  class="recipe-list"
>
  <mat-list-item height="auto">
    <h1 matLine>{{recipe.name | uppercase}}</h1>
    <figure class="lightbox">
      <img
        src="{{recipe.imagePath}}"
        class="right"
        width="200"
        height="200"
      >
      <figcaption>{{recipe.imageCaption}}</figcaption>
    </figure>
    <div mat-line>{{recipe.description}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
