@import '../../../../styles';

.recipe-list {
  :hover {
    cursor: pointer;
    background: $primary;
  }

  .mat-list-item {
    height: max-content;
    padding-top: .75em;
  }
}

figure {
  flex: 1;
}

figcaption {
  padding: 0 2.25em .5em 2.25em;
  font-style: italic;
}

mat-card-content {
  padding: 0 2.25em .5em 2.25em;
}
